<!DOCTYPE html>
<html lang="en">
<head>
    <title>Jan Christopher Bredow</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Content is modified by Template, see description below -->

    <meta name="description" content="HTML5 website template">
    <meta name="keywords" content="global, template, html, sass, jquery">
    <meta name="author" content="Bucky Maler">

    <link rel="stylesheet" href="../static/assets/css/main.css">
</head>
<body>

<!-- notification for small viewports and landscape oriented smartphones -->
<div class="device-notification">
    <a class="device-notification--logo" href="#0">
        <p>Jan Christopher Bredow</p>
    </a>
    <p class="device-notification--message">Oops! Meine Inhalte passen leider nicht auf Ihren Bildschirm! Zoomen sie
        heraus oder laden sie diese Seite in einem anderen Browser erneut.</p>
</div>

<div class="perspective effect-rotate-left">
    <div class="container">
        <div class="outer-nav--return"></div>
        <div id="viewport" class="l-viewport">
            <div class="l-wrapper">
                <header class="header">
                    <a class="header--logo" href="#0">
                        <p>Jan Christopher Bredow</p>
                    </a>
                    <button class="header--cta cta">Kontaktiere mich</button>
                    <div class="header--nav-toggle">
                        <span></span>
                    </div>
                </header>
                <nav class="l-side-nav">
                    <ul class="side-nav">
                        <li class="is-active">
                            <span>Willkommen</span></li>
                        <li><span>Referenzen</span></li>
                        <li><span>Über mich</span></li>
                        <li><span>Kontakt</span></li>
                        <li><span>Impressum</span></li>
                    </ul>
                </nav>
                <ul class="l-main-content main-content">
                    <li class="l-section section section--is-active">
                        <div class="intro">
                            <div class="intro--banner">
                                <h1>Jan, 22.<br>Villeicht schon <br>bald Ihr Azubi!</h1>
                                <button class="cta"> Einladen!
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                         x="0px" y="0px"
                                         viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;"
                                         xml:space="preserve">
                  <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                    <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z"/>
                  </g>
                  </svg>
                                    <span class="btn-background"></span>
                                </button>
                                <img src="../static/assets/img/introduction-visual.png" alt="Willkommen">
                            </div>
                            <div class="intro--options">
                                <!--
                                <a href="#0">
                                    <h3>Wo findet man mich?</h3>
                                    <p>GitHub</p>
                                </a>
                                <a href="#0">
                                    <h3>Fantasy interactive</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do.</p>
                                </a>
                                <a href="#0">
                                    <h3>Paul &amp; shark</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do.</p>
                                </a>
                                -->
                            </div>
                        </div>
                    </li>
                    <li class="l-section section">
                        <div class="work">
                            <h2>Meine Arbeit</h2>
                            <div class="work--lockup">
                                <ul class="slider">
                                    <li class="slider--item slider--item-left">
                                        <a href="https://github.com/JanCBredow/jan-bredow.de" target="_blank">
                                            <div class="slider--item-image">
                                                <img src="../static/assets/img/jan-bredow-webpresence.jpg" alt="jan-bredow.de">
                                            </div>
                                            <p class="slider--item-title">jan-bredow.de Webseite</p>
                                            <p class="slider--item-description">Spring MVC basierender Webservice, nutzt Thymeleaf als Model Template Engine</p>
                                        </a>
                                    </li>
                                    <li class="slider--item slider--item-center">
                                        <a href="https://gitlab.epeu.dev/epeu-backend/epeu-network-ess/">
                                            <div class="slider--item-image">
                                                <img src="../static/assets/img/ess.jpg" alt="ESS">
                                            </div>
                                            <p class="slider--item-title">ESS Server</p>
                                            <p class="slider--item-description">ESS (External Services Server) ist ein Javabasierender Synchronisations-Service, welcher SQL, Redis, Netty uvm. nutzt. Software enthält eine mini CLI</p>
                                        </a>
                                    </li>
                                    <li class="slider--item slider--item-right">
                                        <a href="#0">
                                            <div class="slider--item-image">
                                                <img src="../static/assets/img/other_projects.jpg" alt="Sonstige Projekte">
                                            </div>
                                            <p class="slider--item-title">Sonstige Projekte</p>
                                            <p class="slider--item-description">
                                                Java: <br>
                                                  - EPEU i18N Framework <br>
                                                  - EPEU Repositories <br>

                                                Sysadmin: <br>
                                                  - Proxmox (VMs & Cluster) <br>
                                                  - Docker & Docker Compose <br>
                                                  - Dokumentationsplattformen <br>
                                                  - vieles mehr! Fragen sie mich!
                                            </p>
                                        </a>
                                    </li>
                                </ul>
                                <div class="slider--prev">
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                         x="0px" y="0px"
                                         viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;"
                                         xml:space="preserve">
                  <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                    <path d="M561,1169C525,1155,10,640,3,612c-3-13,1-36,8-52c8-15,134-145,281-289C527,41,562,10,590,10c22,0,41,9,61,29
                    c55,55,49,64-163,278L296,510h575c564,0,576,0,597,20c46,43,37,109-18,137c-19,10-159,13-590,13l-565,1l182,180
                    c101,99,187,188,193,199c16,30,12,57-12,84C631,1174,595,1183,561,1169z"/>
                  </g>
                  </svg>
                                </div>
                                <div class="slider--next">
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                         x="0px" y="0px"
                                         viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;"
                                         xml:space="preserve">
                  <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                    <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,
                    597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z"/>
                  </g>
                  </svg>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="l-section section">
                        <div class="about">
                            <div class="about--banner">
                                <h1>Ich LIEBE Challenges.</h1>
                                <h3>Mein Ansporn: besser werden!</h3>
                                <p>In den vergangenen Jahren fand ich mich selber vor ziemlich schwierigen <br>
                                    Herausforderungen wieder, welchen ich mich allerdings gerne stelle! <br>
                                    Denn wie Mama schon sagte:
                                    <br><i>"Gibt das Leben dir bittere Zitronen, mach Limonade daraus."</i>
                                    <br>
                                    <br>
                                    Aufgewachsen in einem kleinen Dorf namens Obersulm Affaltrach <br>
                                    im wunderschönen, malerischen Baden-Würrtemberg habe <br>
                                    ich schon als Kind jeden Computer zerlegt, welchen ich in die Finger bekommen habe<br>
                                    Diesem Ritual bin ich stolz treu geblieben, ich folge heute noch meinem <br>
                                    großen technischen Interesse und lasse mich nur zu gerne auf experimente <br>
                                    mit der Soft,- und Hardware ein. (Bitcoin-Mining auf einem Gameboy z.B.)<br>
                                    <br>
                                    </p>
                                <h4><i>"Existiert noch genau 1 Vanille-Pudding im Kühlschrank, kannste davon ausgehen: is' meiner!"</i>
                                    <br></h4>
                                <h5>~ Jan Christopher Bredow, 22, Philosoph.</h5>+
                            </div>
                        </div>
                    </li>
                    <li class="l-section section">
                        <div class="contact">
                            <div class="contact--lockup">
                                <div class="modal">
                                    <div class="modal--information">
                                        <p>Hartmannsweilerstraße 19<br> 65933 Frankfurt am Main, Deutschland</p>
                                        <a href="mailto:info@jan-bredow.de">info@jan-bredow.de</a>
                                        <a href="tel:+4915126638851">+49 151 266 388 51</a>
                                    </div>
                                    <ul class="modal--options">
                                        <li><a href="https://github.com/JanCBredow">GitHub</a></li>
                                        <li><a href="https://instagram.com/janbredow">Instagram</a></li>
                                        <li><a href="https://de.linkedin.com/in/jan-christopher-bredow-7834601960">LinkedIn</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="l-section section">
                        <div class="hire">
                            <h1><center>Impressum</center></h1>

                            <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
                            <p><div style="text-align: center;">Jan Christopher Bredow<br />
                                Hartmannsweilerstra&szlig;e 19<br />
                                65933 Frankfurt am Main</p>

                            <h1>Kontakt</h1>
                            <p><div style="text-align: center;">Telefon: 0151 266 388 51<br />
                                E-Mail: info@jan-bredow.de</div></p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <ul class="outer-nav">
        <li class="is-active">Home</li>
        <li>Referenzen</li>
        <li>Über mich</li>
        <li>Kontakt</li>
        <li>Impressium</li>
    </ul>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../static/assets/js/vendor/jquery-2.2.4.min.js"><\/script>')</script>
<script src="../static/assets/js/functions-min.js"></script>
</body>
</html>